.App{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background-color: whitesmoke;
}
input[type = "radio"]{
    display: none;
}
.star{
    cursor: pointer;
    transition: color 200ms;
}